root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true

[*.{yml,yaml,json,md,toml,sql}]
indent_style = space
indent_size = 2

[*.rs]
indent_style = space
indent_size = 4
